<template>
  <div class="page-template">
    <header>
      <h1 v-if="singular">
        {{ pageTitle }}
      </h1>
      <h3 v-else>
        <router-link :to="{name: route.name}">{{pageTitle}}</router-link>
      </h3>
    </header>
    <div v-if="shouldShow">
      <section>
        <article>
          <slot></slot>
        </article>
      </section>
    </div>
    <div v-else
         class="offline-box">
      <p>
        <i>You need to be offline to read this article!</i>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'page-template',
  props: {
    singular: {
      type: Boolean,
      default: () => true
    },
    pageTitle: {
      type: String,
      default: () => 'Untitled'
    },
    route: {
      type: Object
    }
  },
  computed: {
    shouldShow() {
      const online = navigator.onLine
      const offline = online === true
      const offlineRoute = this.route && this.route.meta && this.route.meta.offline === true
      const result = offline && offlineRoute
      return !result
    }
  }
}
</script>

<style>
.page-template {
  padding: 1rem 1rem 3rem 1rem;
}

.offline-box {
  background-color: #efefef;
  padding: 1rem;
}
</style>
