<template>
  <PageTemplate v-bind="$attrs" pageTitle="First Post">
    <p>Hi, welcome to my first post!</p>
    <p>Pro tips for participating in a talk like this:</p>
    <ol>
      <li>Attend cool conference meetup</li>
      <li>Wait about 1.5 months before talk</li>
      <li>Re-schedule talk a couple times</li>
      <li>Assume that it is <b>always</b> on a thursday</li>
      <li>Write the entire thing over lunch and in the back of the room at the last minute</li>
      <li><small>Make funny easter eggs</small></li>
    </ol>
  </PageTemplate>
</template>

<script>
import PageTemplate from '@/components/widgets/PageTemplate'

export default {
  name: 'first-post',
  components: {
    PageTemplate
  }
}
</script>

<style>

</style>
