<template>
  <PageTemplate v-bind="$attrs"
                pageTitle="Fourth Post">

    <img src="~@/assets/images/ryan.jpg"
         alt="ryan, me"
         class="image">
    <p>I just wanted to include a picture of me. I actually used this picture to test
      out the md5 git break vulnerability from a few months ago.</p>
    <p>Sadly, the service I was using to generate the matching PDFs based on this image
      failed because thousands of
      <i>hackers like me</i> were also trying to do the same thing, and it overloaded
      the little EC2 instance.</p>
    <img src="~@/assets/images/ryan.jpg"
         alt="ryan, me"
         class="image flipped left">
    <p>So now whenever I look in my
      <code>Download</code> directory, I end up seeing these two images, one facing right
      and the other left.</p>

  </PageTemplate>
</template>

<script>
import PageTemplate from '@/components/widgets/PageTemplate'

export default {
  name: 'fourth-post',
  components: {
    PageTemplate
  }
}
</script>

<style scoped>
.image {
  max-width: 10vw;
  float: right;
  padding: 1rem;
}

.flipped {
  transform: scaleX(-1);
}

.left {
  float: left;
}
</style>
