<template>
  <PageTemplate v-bind="$attrs"
                pageTitle="Second Post">
    <p>Once, many years ago I tried to use Spring Data Rest. I even wrote a post about
      it, but then I realize I was wrong. Everything about Spring Data Rest was wrong.</p>
    <p class="important">Never again will we use that.</p>
    <p>
      You can view the presentation that <a href="https://adept.work/mwjshnp">goes with this</a>.
    </p>

  </PageTemplate>
</template>

<script>
import PageTemplate from '@/components/widgets/PageTemplate'

export default {
  name: 'second-post',
  components: {
    PageTemplate
  }
}
</script>

<style scoped>
.important {
  color: red;
  font-weight: 800;
}
</style>
