<template>
  <PageTemplate v-bind="$attrs"
                pageTitle="Third Post">

    In this article, I want to describe how to fix a DTO in Java that will have values
    that are not described injected into it. Usually this causes an error, because
    Java cannot serialize the additional fields, but an annotation can help.

  </PageTemplate>
</template>

<script>
import PageTemplate from '@/components/widgets/PageTemplate'

export default {
  name: 'third-post',
  components: {
    PageTemplate
  }
}
</script>

<style>

</style>
