<template>
  <div class="home">
    <div v-for="page in pages" :key="page.name">
      <component :is="page.component" :singular="false" :route="page"></component>
    </div>
    <br class="clearfix">
  </div>
</template>

<script>
import pageRoutes from '@/router/pages'

export default {
  name: 'home',
  data() {
    return {
      pages: pageRoutes
    }
  }
}
</script>

<style scoped>
.home {
  margin-bottom: 10rem;
}
.clearfix {
  clear:both;
}
</style>